.Post {
  margin-top: 10px;
  border-radius: 10px;
  background: #363636;
  padding: 10px;
  box-shadow: 1px 1px 2px 2px rgba(35, 35, 35, .5);

  .head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    img {
      height: 40px;
      width: 40px;
      border-radius: 20px;
    }
    .headText {
      margin-left: 8px;
      h3 {
        margin: 0 0 3px 0;
        font-size: 14px;

      }
      p {
        margin: 0;
        font-size: 14px;
      }

    }
  }
  .likePanel {
    border-top: 1px solid #545454;
    display: flex;
    padding-right: 10px;
    height: 30px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    div {
      height: 30px;
      margin-left: 20px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
      p {
        margin-left: 5px;
      }
    }
  }

}
