.Users {
  padding: 0 0 10px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  & > p {
    margin: 0;
  }
  .usersList{
    margin: 0 5px 0 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
    align-content: flex-start;
    .UserItem {
      flex: 1 1 270px;
      margin: 5px;
      border-radius: 10px;
      background: #343434;
      padding: 10px;
      box-shadow: 1px 1px 2px 2px rgba(21, 21, 21, .65);
      .head {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        a:hover {
          color: #0089b7;
          transition: color .3s;
        }
        img {
          height: 40px;
          width: 40px;
          border-radius: 25px;
          border: 2px solid #676767;
          &:hover {
            border: 2px solid #0089b7;
            transition: border .3s;
          }
        }
        .headText {
          flex: 1;
          margin-left: 8px;
          h3 {
            margin: 0 0 3px 0;
            font-size: 14px;
          }
          p {
            margin: 0;
            font-size: 14px;
          }

        }
        button {
          &.follow {
            background-color: #0089b7;
            border: 1px solid #0089b7;
            &:hover {
              background-color: #00a1d2;
              transition: background-color .3s;
            }
          }
          &.unfollow {
            background-color: #b04447;
            border: 1px solid #b04447;
            &:hover {
              background-color: #d44f52;
              transition: background-color .3s;
            }
          }
        }
      }
    }
    .dummy {
      flex: 1 1 290px;
      margin: 5px;
    }
  }
}