@import "../../UI/vars";

.profileHeader {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  .wallpaper {
    align-self: stretch;
    margin: 0 10px 0 10px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 10px 10px;
      box-shadow: 1px 1px 2px 2px rgba(35, 35, 35, .5);
    }
  }

  img.avatar {
    position: absolute;
    top: 100px;
    width: 160px;
    height: 160px;
    border-radius: 82px;
    border: 4px solid #323232;
  }

  .loadAvatar {
    position: absolute;
    top: 235px;
    left: 50%;
    margin-left: 40px;
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label {
      padding: 3px 8px 5px 8px;
      font-size: 1.5em;
      line-height: 1em;
      color: white;
      background-color: #4b4b4b;
      border: 1px solid #323232;
      border-radius: 20px;
      transition: all .3s;
      opacity: .5;
      &.loading {
        color: #CCCCCC;
        svg {
          animation: spinnerPhotoLoad 2s linear infinite;
        }
      }
    }
    input:focus + label,
    input + label:hover {
      opacity: 1;
      color: $color_blue_main;
      background-color: #4a4a4a;
    }
  }

  h1 {
    margin: 20px 20px 10px 20px;
  }
}

@keyframes spinnerPhotoLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}