.header {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  background: #393939;
  border: 1px solid #393939;
  box-shadow: 1px 1px 2px 2px rgba(20, 20, 20, 0.8);
}

.header img {
  width: 30px;
  margin: 10px;
}