@import "../../UI/vars";
@import "../../UI/mixins";

.profileInfo {
  margin: 0 10px 10px 10px;
  flex: 2 0 250px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.editMode {
    align-items: stretch;
  }

  border-radius: 10px;
  background: #363636;
  padding: 10px;
  box-shadow: 1px 1px 2px 2px rgba(35, 35, 35, .5);

  h3 {
    margin: 10px 0 10px 10px;
  }
  p {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    margin: 5px 0 5px 25px;
    strong {
      font-weight: 500;
      svg {
        vertical-align: middle;
        font-size: 18px;
      }
    }
  }
  button {
    align-self: flex-end;
    margin-top: 5px;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    textarea {
      height: 80px;
      resize: none;
      @include customScrollbar;
    }
    .FormItem {
      margin: 5px;
      &.error {
        color: $color_red_light;
      }
      &.buttonsBlock {
        button {
          margin: 0;
          &:last-child {
            float: right;
          }

        }

      }
    }
  }
}