.AppPreloader {
  background: linear-gradient(to top, #262626 40%, #505050 100%) fixed;
  height: 100vh;

  .loader {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;

    p {
      color: white;
      text-align: center;
    }
  }
}