@import "../../styles/mixins";

.Dialogs {

  .header {
    position: fixed;
    left: 5px;
    right: 5px;
    height: 60px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background: #323232;
    box-shadow: 1px 1px 2px 2px #212121;
    border-radius: 0 0 5px 5px;

    .toggleButton {
      background: rgba(255,255,255,0);
      font-size: 16px;
      color: white;
      margin-left: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #565656;
      &:hover {
        cursor: pointer;
        background: rgba(255,255,255,.1);
        transition: background-color .5s;
      }
    }

    .title {
      flex: 1;

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      img {
        margin: 10px;
        height: 40px;
        width: 40px;
        border: 2px solid deepskyblue;
        border-radius: 25px;
      }
    }
  }

  .content {
    margin: 60px 10px 55px 10px;
    position: fixed;
    left: 15%;
    width: 70%;
    top: 52px;
    bottom: 5px;
    @include mq-for-md {
      left: 0;
      width: 98%;
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;


    .dialogsList {
      flex: 1 1 80px;
      margin-top: 10px;
      display: flex;
      flex-flow: column nowrap;
      max-height: 100vh;
      overflow-y: auto;
      @include customScrollbar;
      &.hide {
        display: none;
        z-index: -1;
      }
    }

    .dialogPanel {
      flex: 5;
      align-self: stretch;
      display: flex;
      flex-flow: column nowrap;
      max-height: 100vh;
      overflow-y: auto;
      @include mq-for-md() {
        margin-right: 10px;
      }
      @include customScrollbar;

      .messagesWindow {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        padding: 5px;
        background: #232323;
        border: 1px solid #292929;
        box-shadow: 1px 1px 2px 2px inset #191919;
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 50px;

    background: #323232;
    box-shadow: 0 0 2px 2px #212121;
    border-radius: 5px 5px 0 0;

    form {
      margin: 8px 8px 0 8px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: stretch;

      input {
        flex: 1;
        color: white;
        border-radius: 5px;
        border: 1px solid #565656;
        padding: 8px;
        background-color: #303030;
      }

      button {
        color: white;
        margin-left: 10px;
        border-radius: 6px;
        border: 1px solid deepskyblue;
        padding: 8px;
        background-color: deepskyblue;
      }
    }
  }
}