@import './vars.scss';

button {
  border-radius: 4px;
  padding: 8px;
  color: white;
  cursor: pointer;
  transition: background-color .3s;
  background-color: $color_blue_main;
  border: 1px solid $color_blue_main;
  &:hover {
    background-color: $color_blue_light;
  }
  &.blue {
    background-color: $color_blue_main;
    border: 1px solid $color_blue_main;
    &:hover {
      background-color: $color_blue_light;
    }
  }
  &.red {
    background-color: $color_red_main;
    border: 1px solid $color_red_main;
    &:hover {
      background-color: $color_red_light;
    }
  }

  &:disabled,&:disabled:hover {
    background-color: #323232;
    cursor: not-allowed;
  }
}

input {
  color: white;
  border-radius: 5px;
  border: 1px solid #565656;
  padding: 8px;
  background-color: #303030;
}

textarea {
  color: white;
  border-radius: 5px;
  border: 1px solid #565656;
  padding: 8px;
  background-color: #303030;
}

.customCheckBox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  &+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all .3s;
  }
  &:checked+label::before {
    border-color: $color_blue_main;
    background-color: $color_blue_main;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  /* стили при наведении курсора на checkbox */
  &:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  &:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для чекбокса, находящегося в фокусе */
  &:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  &:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  &:disabled+label::before {
    background-color: #e9ecef;
  }
}